<mat-card>
  <mat-card-header>
    <mat-card-title [attr.aria-label]="tplText.SEND_EMAIL_BELOW">
      {{tplText.SEND_EMAIL_BELOW}} 
    </mat-card-title>
  </mat-card-header>
  <!-- TODO: Radio button for Sendgrid/Postmark choice -->
  <form name="email-form">
    <mat-card-content>
      <mat-form-field>
        <mat-label>{{tplText.RECIPIENT_EMAIL.TEXT}}</mat-label>
        <input matInput type="email" email required
          name="recipient-email"
          placeholder="{{tplText.RECIPIENT_EMAIL.PLACEHOLDER}}"
          [ngModel]="emailForm.recipientEmail"
          (ngModelChange)="sanitizeInput($event, fieldNames.RECIPIENT_EMAIL)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{tplText.RECIPIENT_NAME.TEXT}}</mat-label>
        <input matInput type="text" required
          name="recipient-name"
          placeholder="{{tplText.RECIPIENT_NAME.PLACEHOLDER}}"
          [ngModel]="emailForm.recipientName"
          (ngModelChange)="sanitizeInput($event, fieldNames.RECIPIENT_NAME)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{tplText.SENDER_EMAIL.TEXT}}</mat-label>
        <input matInput type="email" email required
          name="sender-email"
          placeholder="{{tplText.SENDER_EMAIL.PLACEHOLDER}}"
          [ngModel]="emailForm.senderEmail"
          (ngModelChange)="sanitizeInput($event, fieldNames.SENDER_EMAIL)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{tplText.SENDER_NAME.TEXT}}</mat-label>
        <input matInput type="text" required
          name="sender-name"
          placeholder="{{tplText.SENDER_NAME.PLACEHOLDER}}"
          [ngModel]="emailForm.senderName"
          (ngModelChange)="sanitizeInput($event, fieldNames.SENDER_NAME)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{tplText.SUBJECT.TEXT}}</mat-label>
        <input matInput type="text" required
          name="subject"
          placeholder="{{tplText.SUBJECT.PLACEHOLDER}}"
          [ngModel]="emailForm.subject"
          (ngModelChange)="sanitizeInput($event, fieldNames.SUBJECT)"
        />
      </mat-form-field>
      <mat-form-field name="email-message">
        <mat-label>{{tplText.MESSAGE.TEXT}}</mat-label>
        <textarea matInput type="text" required
          name="message"
          placeholder="{{tplText.MESSAGE.PLACEHOLDER}}"
          [ngModel]="emailForm.message"
          (ngModelChange)="sanitizeInput($event, fieldNames.MESSAGE)">
        </textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"
        [attr.aria-label]="tplText.SEND_EMAIL"
        [disabled]="inProgress"
        (click)="send()">
        {{tplText.SEND_EMAIL}}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
