<mat-card>
  <mat-card-header>
    <mat-card-title aria-label="Send an Email to anyone below: ">
      Send your Email below: 
    </mat-card-title>
  </mat-card-header>
  <!-- TODO: Radio button for Sendgrid/Postmark choice -->
  <form name="email-form">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Recipient Email</mat-label>
        <input matInput type="email" email required
          name="recipient-email"
          placeholder="ex. jumpman23@gmail.com"
          [ngModel]="emailForm.recipientEmail"
          (ngModelChange)="sanitizeInput($event, fieldNames.RECIPIENT_EMAIL)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Recipient Name</mat-label>
        <input matInput type="text" required
          name="recipient-name"
          placeholder="ex. Michael Jordan"
          [ngModel]="emailForm.recipientName"
          (ngModelChange)="sanitizeInput($event, fieldNames.RECIPIENT_NAME)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sender Email</mat-label>
        <input matInput type="email" email required
          name="sender-email"
          placeholder="ex. vtumrukota@gmail.com"
          [ngModel]="emailForm.senderEmail"
          (ngModelChange)="sanitizeInput($event, fieldNames.SENDER_EMAIL)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sender Name</mat-label>
        <input matInput type="text" required
          name="sender-name"
          placeholder="ex. Vivek Tumrukota"
          [ngModel]="emailForm.senderName"
          (ngModelChange)="sanitizeInput($event, fieldNames.SENDER_NAME)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Subject</mat-label>
        <input matInput type="text" required
          name="subject"
          placeholder="ex. 'Hey there!''"
          [ngModel]="emailForm.subject"
          (ngModelChange)="sanitizeInput($event, fieldNames.SUBJECT)"
        />
      </mat-form-field>
      <mat-form-field name="email-message">
        <mat-label>Message</mat-label>
        <textarea matInput type="text" required
          name="message"
          placeholder="ex. 'Lets hang out!'"
          [ngModel]="emailForm.message"
          (ngModelChange)="sanitizeInput($event, fieldNames.MESSAGE)">
        </textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"
        aria-label="Send Email"
        (click)="send()">
        Send Email
      </button>
    </mat-card-actions>
  </form>
</mat-card>
